.episode-suggestions-dialog {
    display: flex;
    background-color: #0c0c0c;
    color: #f2f2f2;
    border: 2px solid #34f1a0;
    padding: 10px;
    border-radius: 10px;
    width: 1200px;
    height: 700px;
}

.form-container,
.left-panel,
.right-panel {
    flex: 1;
    padding: 10px;
    border: 2px solid #f26722;
    border-radius: 5px;
    max-width: calc(1200px / 3);
    box-sizing: border-box;
}

.form-header {
    color: #f26722;
    text-align: center;
}

button {
    background-color: #34f1a0;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

form {
    background-color: #1a1a1a;
    padding: 15px;
    border-radius: 5px;
}

label {
    color: #f26722;
    font-size: 18px;
}

li {
    cursor: pointer;
}

li:hover {
    background-color: gray;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #34f1a0;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #f26722;
}

.green-dot {
    height: 10px;
    width: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.red-dot {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

textarea {
    resize: vertical;
}

.reaction-buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.like-button,
.dislike-button {
    background-color: #55cc55;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.5s;
    font-size: 16px;
}

.dislike-button {
    background-color: #ff5555;
}

.like-button:hover,
.dislike-button:hover {
    transform: scale(1.1);
}

.like-count,
.dislike-count {
    margin-left: 8px;
}

.selected-suggestion {
    background-color: #4CAF50;
}

.did-approve {
    background-color: #ff5555;
}

.did-not-approve {
    background-color: #4CAF50;
}