<div class="episode-suggestions-dialog">
    <div class="right-panel" *ngIf="selectedSuggestion">
        <h2>{{selectedSuggestion.name}}</h2>
        <p><strong>Creator:</strong> {{selectedSuggestion.creator}}</p>
        <p><strong>Date of Creating:</strong> {{selectedSuggestion.date}}</p>
        <p><strong>Plot Explanation:</strong> {{selectedSuggestion.plot}}</p>
    </div>
    <div class="left-panel">
        <ul>
            <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
                {{suggestion.name}}
            </li>
        </ul>
    </div>
</div>