<div class="episode-suggestions-dialog">
    <div class="form-container">
        <h1 class="form-header">Add new episode suggestion</h1>
        <form [formGroup]="suggestionForm" (ngSubmit)="onSubmit()">
            <label>
                Title:
                <input formControlName="title" />
            </label>
            <br>
            <label>
                Plot:
                <textarea formControlName="plot"></textarea>
            </label>
            <button type="submit" [disabled]="!suggestionForm.valid">Submit</button>
        </form>
    </div>

    <div class="left-panel">
        <ul *ngIf="(suggestions$ | async) as suggestions">
            <li *ngFor="let suggestion of suggestions" [ngClass]="{'selected-suggestion': isSelected(suggestion.id)}"
                (click)="selectSuggestion(suggestion)">
                {{suggestion.title}}
            </li>
        </ul>
    </div>

    <div class="right-panel" *ngIf="selectedSuggestion$ | async as selectedSuggestion">
        <h2>{{selectedSuggestion.title}}</h2>
        <p>
            <strong>Creator:</strong>
            <span
                [ngClass]="{'green-dot': selectedSuggestion.isCreatorActive, 'red-dot': !selectedSuggestion.isCreatorActive}"></span>
            {{selectedSuggestion.creator}}
        </p>
        <p *ngIf="selectedSuggestion.date"><strong>Date of Creating:</strong> {{selectedSuggestion.date.split('T')[0]}}
        </p>
        <p><strong>Approvals:</strong> {{selectedSuggestion.approvals}}</p>
        <p>
            <strong>Approval rate:</strong> {{selectedSuggestion.approval_rate ?
            roundToInt(selectedSuggestion.approval_rate) : 0}}%
        </p>
        <p><strong>Plot Explanation:</strong> {{selectedSuggestion.plot}}</p>
        <button class="like-button"
            [ngClass]="{'did-approve': didApprove(selectedSuggestion), 'did-not-approve': !didApprove(selectedSuggestion)}"
            (click)="approve()">
            {{ didApprove(selectedSuggestion) ? 'Disapprove' : 'Approve' }}
        </button>
    </div>
</div>