.episode-suggestions-dialog {
    display: flex;
    background-color: #0c0c0c;
    color: #f2f2f2;
    border: 2px solid #34f1a0;
    padding: 10px;
    border-radius: 10px;
}

.left-panel,
.right-panel {
    flex: 1;
    padding: 10px;
    border: 2px solid #f26722;
    border-radius: 5px;
}

.form-header {
    color: #f26722;
    text-align: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    background-color: #1a1a1a;
    border: 2px solid #f26722;
    margin-top: 20px;
}

button {
    background-color: #34f1a0;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

form {
    background-color: #1a1a1a;
    padding: 15px;
    border-radius: 5px;
}

label {
    color: #f26722;
    font-size: 18px;
}

li {
    cursor: pointer;
}

li:hover {
    background-color: gray;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #34f1a0;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #f26722;
}