.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination-btn {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    background-color: #007BFF;
    color: #fff;
    font-weight: bold;
}

.pagination-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.pagination-btn:active, .pagination-btn:focus {
    outline: none;
    transform: scale(0.95);
}
