.episode-card {
    border: 5px solid black;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.85);
    width: 650px;
    height: 600px;
    overflow-y: scroll;
}

.episode-title {
    margin-bottom: 10px;
    text-align: center;
}

.episode-meta {
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 15px;
    text-align: center;
}

.episode-number {
    margin-bottom: 0;
}

.episode-date {
    margin-top: 0;
}

.characters-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    margin-top: 1rem;
}

.character-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
}

.character-name {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    max-width: 150px;
    text-align: center;
    margin-top: 10px;
}

.reaction-buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.like-button, .dislike-button {
    background-color: #55cc55; /* Green for like */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s;
    font-size: 16px;
}

.dislike-button {
    background-color: #ff5555; /* Red for dislike */
}

.like-button:hover, .dislike-button:hover {
    transform: scale(1.05);
}

.like-count, .dislike-count {
    margin-left: 8px;
}