.dialog-container {
    max-height: 90vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    background-color: #fff;
}

.chart-container {
    margin-top: 30px;
}
