.location-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.location-card {
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    width: 300px;
    cursor: pointer;
}

.location-card:hover {
    transform: scale(1.05);
}

h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2em;
}

p {
    margin-bottom: 10px;
    font-size: 1em;
}