<app-location-charts></app-location-charts>
<div *ngIf="locations$ | async as locations" class="location-grid">
  <div *ngFor="let location of locations" class="location-card"
    [ngStyle]="{'background-color': getCardColor(location.type)}" (click)="onLocationClick(location.id)">
    <h3>{{ location.name }}</h3>
    <p><strong>Type:</strong> {{ location.type }}</p>
    <p><strong>Dimension:</strong> {{ location.dimension }}</p>
  </div>
</div>
<app-navigation-buttons type="location"></app-navigation-buttons>