.card-grid {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
    padding: 20px;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
}

.card {
    width: 150px;
    height: 150px;
    perspective: 1000px;
}

.card-face {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.3s linear;
}

.card-back {
    transform: rotateY(0deg);
    cursor: pointer;
}

.card-back img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid black;
}

.card-front {
    transform: rotateY(180deg);
}

.card-front img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.3);
}

.card.flipped .card-back {
    transform: rotateY(180deg);
}

.card.flipped .card-front {
    transform: rotateY(0deg);
}

.round-counter {
    position: absolute;
    top: 30px;
    left: 10px;
}

.flip-counter {
    position: absolute;
    top: 70px;
    left: 10px;
}